---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"f2b240b5ee1e4b779d3e2a501dffac45"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"plVVOvpbkIw","slug":"plVVOvpbkIw","created_at":"2023-04-21T11:57:25Z","updated_at":"2023-05-22T20:35:06Z","promoted_at":"2023-04-27T13:27:26Z","width":4160,"height":6240,"color":"#262626","blur_hash":"LOA9Wefj0#az$%ayNHj[58ay=_oK","description":null,"alt_description":"a
        close up of a light that is on a wall","urls":{"raw":"https://images.unsplash.com/photo-1682078200240-0cda0e383a39?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODZ8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1682078200240-0cda0e383a39?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODZ8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1682078200240-0cda0e383a39?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1682078200240-0cda0e383a39?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1682078200240-0cda0e383a39?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1682078200240-0cda0e383a39"},"links":{"self":"https://api.unsplash.com/photos/plVVOvpbkIw","html":"https://unsplash.com/photos/plVVOvpbkIw","download":"https://unsplash.com/photos/plVVOvpbkIw/download?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODZ8","download_location":"https://api.unsplash.com/photos/plVVOvpbkIw/download?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODZ8"},"likes":189,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"wallpapers":{"status":"approved","approved_on":"2023-04-24T09:07:06Z"},"experimental":{"status":"rejected"},"travel":{"status":"rejected"},"street-photography":{"status":"approved","approved_on":"2023-05-03T14:50:00Z"},"arts-culture":{"status":"approved","approved_on":"2023-04-28T09:35:06Z"},"spirituality":{"status":"approved","approved_on":"2023-04-28T10:12:11Z"}},"user":{"id":"kl3Gk0KybII","updated_at":"2023-05-17T15:13:40Z","username":"leomaverick","name":"Leo
        Maverick","first_name":"Leo","last_name":"Maverick","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/leomaverick","html":"https://unsplash.com/@leomaverick","photos":"https://api.unsplash.com/users/leomaverick/photos","likes":"https://api.unsplash.com/users/leomaverick/likes","portfolio":"https://api.unsplash.com/users/leomaverick/portfolio","following":"https://api.unsplash.com/users/leomaverick/following","followers":"https://api.unsplash.com/users/leomaverick/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1680162257947-2387d568bbbaimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1680162257947-2387d568bbbaimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1680162257947-2387d568bbbaimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":null,"total_collections":0,"total_likes":0,"total_photos":52,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":null,"portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"Canon","model":"
        EOS RP","name":"Canon, EOS RP","exposure_time":"1/40","aperture":"4.0","focal_length":"26.0","iso":800},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"views":1044047,"downloads":4993}]'
  recorded_at: Mon, 22 May 2023 23:16:26 GMT
recorded_with: VCR 6.1.0
