---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"57675f61ce719e8625320a502b109b15"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"VQpQneQi658","slug":"VQpQneQi658","created_at":"2023-05-14T12:48:31Z","updated_at":"2023-05-22T13:35:00Z","promoted_at":"2023-05-16T16:08:56Z","width":4000,"height":6000,"color":"#262626","blur_hash":"LkE3SLIAWBaf_NMxRjj]%gRjRjj]","description":null,"alt_description":"a
        close up of a bush with pink flowers","urls":{"raw":"https://images.unsplash.com/photo-1684068471818-eb1b89b845d4?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODd8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1684068471818-eb1b89b845d4?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODd8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1684068471818-eb1b89b845d4?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1684068471818-eb1b89b845d4?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1684068471818-eb1b89b845d4?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1684068471818-eb1b89b845d4"},"links":{"self":"https://api.unsplash.com/photos/VQpQneQi658","html":"https://unsplash.com/photos/VQpQneQi658","download":"https://unsplash.com/photos/VQpQneQi658/download?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODd8","download_location":"https://api.unsplash.com/photos/VQpQneQi658/download?ixid=M3w0NDgxNjZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ3OTczODd8"},"likes":125,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"1KQwNa_GEuY","updated_at":"2023-05-22T08:25:38Z","username":"mak_jp","name":"Mak","first_name":"Mak","last_name":null,"twitter_username":"Streetphoto_Mak","portfolio_url":"https://youtube.com/@Mak_jp","bio":"FUJIFILM
        X Series\r\nCapture ordinary scenes around my town in Streetphotography style
        or Film like taste.","location":"Matsuyama","links":{"self":"https://api.unsplash.com/users/mak_jp","html":"https://unsplash.com/ja/@mak_jp","photos":"https://api.unsplash.com/users/mak_jp/photos","likes":"https://api.unsplash.com/users/mak_jp/likes","portfolio":"https://api.unsplash.com/users/mak_jp/portfolio","following":"https://api.unsplash.com/users/mak_jp/following","followers":"https://api.unsplash.com/users/mak_jp/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1550709276110-131b40f03f83?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1550709276110-131b40f03f83?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1550709276110-131b40f03f83?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"3apples_mak","total_collections":77,"total_likes":5215,"total_photos":11586,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"3apples_mak","portfolio_url":"https://youtube.com/@Mak_jp","twitter_username":"Streetphoto_Mak","paypal_email":null}},"exif":{"make":"FUJIFILM","model":"X-T20","name":"FUJIFILM,
        X-T20","exposure_time":"1/5400","aperture":"1.0","focal_length":"35.0","iso":400},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"views":625660,"downloads":4978}]'
  recorded_at: Mon, 22 May 2023 23:16:27 GMT
recorded_with: VCR 6.1.0
